body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
 }

 .comingsoon {
   color: aquamarine;
   font-size: 16px;
 }
 h2 {
   font-size: 21px;
   color: gray;
   font-weight: normal;
 }

 img {
   position: relative;
 }
